# Object files
*.pyc
*.o
!freescale_arm/*


# Libraries
*.lib
*.a
!freescale_arm/*

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.map

# Dependancies
*.d
